<footer class="site-footer text-center text-lg-start text-muted" id="fondoFooter">
<!-- Section: Links  -->
         <section class=" pt-5 pb-5" id="fondoFooter">
            <div class="container text-center text-md-start">
               <!-- Grid row -->
               <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                     <!-- Content -->
                     <h6 class="text-white mb-4">
                        {{ _("Site map") }}
                     </h6>
                     <p class="mb-0 border-white border-bottom ">
                        <a href="https://stomallorca.com/sto-mallorca/" class="text-white">{{ _("STO Mallorca") }}</a>
                     </p>
                     <p class="mb-0 border-white border-bottom">
                        <a href="https://stomallorca.com/indicadores/" class="text-white">{{ _("Indicators") }}</a>
                     </p>
                     <p class="mb-0">
                        <a href="https://stomallorca.com/actualidad/" class="text-white">{{ _("News") }}</a>
                     </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                     <!-- Links -->
                     <h6 class="text-white  mb-4">
                        {{ _("Information") }}
                     </h6>
                     <p class="mb-0 border-white border-bottom" >
                        <a href="https://stomallorca.com/indicativas-sostenibles/" class="text-white">{{ _("Sustainable initiatives") }}</a>
                     </p>
                     <p class="mb-0 border-white border-bottom">
                        <a href="https://www.unwto.org/" class="text-white">{{ _("INSTO network") }}</a>
                     </p>
                     <p class="mb-0 border-white border-bottom">
                        <a href="https://www.conselldemallorca.cat/es/" class="text-white">{{ _("Consell de Mallorca") }}</a>
                     </p>
                     <p class="mb-0">
                        <a href="https://stomallorca.com/contacto/" class="text-white">{{ _("Need help?") }}</a>
                     </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                     <!-- Links -->
                     <h6 class="text-white mb-4">
                        {{ _("About the Observatory") }}
                     <h6>
                     <p class="mb-2" >
                        <a class="text-white">Fundació Mallorca Turisme</a>
                     </p>
                     <p class="mb-0">Edifici de la Misericòrdia</p>
                     <p class="mb-0">Plaça de l’Hospital, 4</p>
                     <p class="mb-0">07012 Palma, Illes Balears</p>
                     <p class="mb-0">Tel. +34 971 21 96 48</p>
                     <a href="mailto:hello@stomallorca.com">
                        <p class="mb-0">hello@stomallorca.com</p>
                     </a>
                  </div>
                  <!-- Grid column -->
               </div>
               <!-- Grid row -->
            </div>
            <div class="container mx-auto mt-3 mb-3"  style="height: 1px; background-color: white;"> </div>
            <!--segundo NAV-->
            <div class="container row mx-auto px-0 mt-3">
               <div class="col 6 pl-0">
                  <ul class="navbar-nav " id="menusecundario">
                     <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.stomallorca.com/contacto/">{{ _("Contact") }}</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.stomallorca.com/privacidad/">{{ _("Privacity") }}</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.stomallorca.com/aviso-legal/">{{ _("Legal Notice") }}</a>
                     </li>
                  </ul>
               </div>
               <form class="d-flex flex-row-reverse col 6 px-0" >
                  <input class="form-control me-2" id="buscador1-0" type="search" placeholder="Buscar..." aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">{{ _("Search...") }}</button>
               </form>
            </div>
            <!--logos-->
            <div class="container pt-5 pb-5">
               <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col text-center">
                     <div class="">
                        <img class="w-75 pt-3" src="/base/images/fundacio.png" class="card-img-top" alt="{{ _("Fundació Mallorca Turisme") }}">
                     </div>
                  </div>
                  <div class="col">
                     <div class="">
                        <img class="w-75" src="/base/images/financiado-por-la-union-europea.png" class="card-img-top" alt="{{ _("financed by the European Union") }}">
                     </div>
                  </div>
                  <div class="col">
                     <div class="">
                        <img class="w-75" src="/base/images/plan-de-recuperacion.png" class="card-img-top" alt="{{ _("Recovery plan") }}">
                     </div>
                  </div>
               </div>
            </div>
            <div class=" container row mx-auto p-0">
               <!-- Left -->
               <div class="col 6 pl-0 pt-2">
                  <p class="text-white">© 2022 <strong>STO Mallorca</strong> | {{ _("All rights reserved") }} |</p>
               </div>
               <!-- Left -->
               <!-- Right -->
               <div class="col 6 d-flex flex-row-reverse" id="headeruno-uno">
                  <a target="_blank"  href="https://www.facebook.com/MallorcaTourism/">  <img src="/base/images/facebook.png"></a>
                  <a target="_blank"  href="https://twitter.com/MALLORCATOURISM"><img src="/base/images/twitter.png"></a>
                  <a target="_blank"  href="https://www.youtube.com/c/MallorcaTourism/featured"><img src="/base/images/youtube.png"></a>
                  <a target="_blank"  href="https://www.linkedin.com/company/fundacio-mallorca-turisme/?original_referer="><img src="/base/images/linkedin.png"></a>
               </div>
               <!-- Right -->
            </div>
         </section>
</footer>
